<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br>
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br>
    <label for="password">Enter passrword: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>
    <br>
    <label for="roles">Roles:</label>
    <select id="roles" name="roles" >
        <option th:each="role : ${roles}"
                th:value="${role.id}"
                th:text="${role.name}">
        </option>
    </select>
    <br>
    <br>
    <input type="submit" value="Add User"/>
</form>
</body>
</html>